# zsh config
alias zshconfig="vim ~/.zshrc"
alias zshload="source ~/.zshrc"
alias zshalias="vim ~/.aliases" # edit this file

# setup
alias setup='/usr/bin/git --git-dir=$HOME/.setup/ --work-tree=$HOME'
