# zsh config
alias zshconfig="vim ~/.zshrc"
alias zshload="source ~/.zshrc"
alias zshalias="vim ~/.aliases" # edit this file

# setup
alias setup='/usr/bin/git --git-dir=$HOME/.setup/ --work-tree=$HOME'

# helpers
# removes all docker containers
alias dk_rm='docker rm -vf $(docker ps -a -q)'

# ssh
alias sshconfig='vim ~/.ssh/config'

