# zsh config
alias zshconfig="vim ~/.zshrc"
alias zshload="source ~/.zshrc"
alias zshalias="vim ~/.aliases" # edit this file

# dotfiles
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
